body {
    padding: 0;
    margin: 0;
    max-height: 100%;
    font-family: Droid Sans, sans-serif;
}

#portals {
    height: 900px;
    max-height: 100%;
    width: 25%;
    float: left;
    overflow: scroll;
}

#map {
    height: 100%;
    max-height: 100%;
    width: 75%;
    float: left;
}

#portals h1 {
    font-size: 16px;
}

#portals h2 {
    font-size: 14px;
    font-weight: normal;
}

#portals {
    font-size: 12px;
}

#portals .portal-resistance h1 {
    color: #0000cc;
}

#portals .portal-enlightened h1 {
    color: #006600;
}

#portals > div {
    border-bottom: thin solid #222;
}

#filters {
    position: absolute;
    vertical-align: middle;
    right: 0;
    height: 200px;
    width: 200px;
    background: rgba(255,255,255, 0.8);
}

#filters h1 {
    font-size: 12px;
}